# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AniLibriaStrmPlugin.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# JetBrains Rider
.idea/
*.sln.iml

# Build
bin/
obj/
build/
*.user
*.DotSettings.user

# Publish artifacts
*.zip

# OS junk
.DS_Store
Thumbs.db
